<div class="form">
  <h2 class="h2" *ngIf="!data.value else editCar" i18n>Add new car</h2>
  <ng-template #editCar><h2 class="h2" i18n>Edit car</h2></ng-template>
  <form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()">

    <app-form-field i18n-label label="Brand" [required]="true" [control]="form.controls.brand"
                    [patternError]="regexErrors.safe">
      <app-input formControlName="brand"></app-input>
    </app-form-field>

    <app-form-field i18n-label label="Model" [required]="true" [control]="form.controls.model">
      <app-input formControlName="model"></app-input>
    </app-form-field>

    <app-form-field i18n-label label="Year" [required]="true" [control]="form.controls.year"
                    [patternError]="regexErrors.numbers">
      <app-input formControlName="year"></app-input>
    </app-form-field>

    <div class="form__actions">
      <app-button type="submit" i18n>Save</app-button>
    </div>

  </form>

</div>
