@import "colors";
@import "breakpoints";

@mixin shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

@mixin card {
  // 992px window width and more
  @include lg {
    padding: 32px;
  }

  padding: 20px;
  background: $base;
  border-radius: 8px;
  @include shadow;
}

// Very small devices
@mixin xs-below {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
}

// Very small devices
@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
