<div class="app-page">

  <div class="app-page__header">
    <h1 i18n>Registration</h1>
  </div>

  <form [formGroup]="form" (submit)="onSubmit()" (keyup.enter)="onSubmit()" novalidate autocomplete="off">

    <div class="app-page__content">
      <app-form-field i18n-label label="Email" [required]="true" [control]="form.controls.email" [isInline]="false"
                      [patternError]="regexErrors.email">
        <app-input formControlName="email"></app-input>
      </app-form-field>

      <app-form-field i18n-label label="Password" [required]="true" [control]="form.controls.password" [isInline]="false"
                      [patternError]="regexErrors.password">
        <app-password formControlName="password"></app-password>
      </app-form-field>

      <app-form-field i18n-label label="Repeat password" [required]="true" [control]="form.controls.passwordRepeat"
                      [isInline]="false" [patternError]="regexErrors.password">
        <app-password formControlName="passwordRepeat"></app-password>
      </app-form-field>

      <div class="error" [class.error_active]="form.hasError('repeat')" i18n>
        Entered passwords don't match
      </div>
    </div>

    <div class="app-page__footer">
      <app-button type="submit" i18n>Complete</app-button>
    </div>

  </form>

  <app-spinner *ngIf="loading$ | async"></app-spinner>
</div>
