<div class="car-service">

  <div class="car-service__content">
    <div class="car-service__content-vehicle">
      <div>
        <mat-icon>directions_car</mat-icon>
      </div>
      <div>{{ item.vehicleLabel }}</div>
    </div>
    <div class="car-service__content-typeOfService">
      <div>
        <mat-icon>build</mat-icon>
      </div>
      <div>{{ item.typeOfService }} @ {{ item.kilometers }}klm</div>
    </div>
    <div class="car-service__content-date">
      <div>
        <mat-icon>calendar_today</mat-icon>
      </div>
      <div>{{ item.created | firebaseDateTransform | date }}</div>
    </div>
  </div>

  <div class="car-service__actions">
    <app-button (click)="onEdit(item)">Edit</app-button>
    <app-button (click)="onDelete(item.id)">Delete</app-button>
  </div>
</div>
