.app-a, .mat-nav-list .app-a {
  color: $primary;
  transition: 0.25s;
  cursor: pointer;
  margin-right: 1em;

  &:hover {
    color: $primary-dark;
  }

  &_active {
    color: $primary-dark;

    .mdc-list-item__primary-text {
      color: $primary-dark;
      text-decoration: underline;
    }
  }
}
